body {

    background-image: url(../images/5068.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
        /* background: #ffffff url(../images/5068.jpg) no-repeat 100%; */
      
    

}